torch>=2.2
torchvision>=0.17
matplotlib>=3.8
numpy>=1.26
pandas>=2.2
tqdm>=4.66
jupyter>=1.0
ipykernel>=6.29

ipywidgets>=8.1

# NB02 dependencies
transformers>=4.40
datasets>=2.19
peft>=0.11
accelerate>=0.30
scikit-learn>=1.4
medmnist>=3.0
